.git
.gitignore
.gitattributes
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/storage
public/hot
.idea
.vscode
*.log
*.md
.DS_Store
Thumbs.db
tests
phpunit.xml
.editorconfig
.styleci.yml
docker-compose.yml
README.md